.web {
    color: var(--iris, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;

}
.studio {
    color: var(--navyblue, #2E2F42);
    text-decoration: none;
}